/*Entire all tweets box dimmed and styled*/
#all-tweets article {
    opacity: 0.7;
    border-radius: 8px;
    border: #848484 1px solid;
    background-color: #eeeeee;
    margin: 20px;
    margin-top: 40px;
}

/*mouse over to full opacity*/
#all-tweets article:hover {
    opacity: 1.0;
    border-radius: 8px;
    border: #848484 1px solid;
    background-color: #eeeeee;
    margin: 20px;
    margin-top: 40px;
}

/*Spacing for header of all tweets*/
#all-tweets header {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 50px;
}

/*float pic left and size*/
#all-tweets .userPic {
    width: 60px;
    height: 60px;
    position: relative;
    top: 0;
    left: 0;
    float: left;
}

/*float name left against pic*/
#all-tweets .name {
    float: left;
    padding: 5px;
    font-weight: bolder;
    font-size: x-large;
}

/*float handle right and style*/
#all-tweets .handle {
    float: right;
    padding: 5px;
    font-weight: lighter;
}

/*paragraph, tweet body styling, sized to fit and solid line under body*/
#all-tweets p {
    background-color: #fffdfb;
    border-bottom: 1px solid grey;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    word-break: break-word;

}

/*footer date styling*/
#all-tweets footer {
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: small;
    font-weight: lighter;
}
























/* add flag, retweet, and like icons on hover for posted tweets*/