/*fixed navbar to top and sized*/
#nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 80px;
    width: 100%;
    background-color: #00a087;
    color: #e8fdff;
    padding-top: 0px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0em;
}

/*fixed logo in top right*/
#nav-bar .logo {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 0;
    right: 2em;
    left: 2em;
    z-index: 2;
}

/*float tweeter name left against logo*/
#nav-bar .header {
    float: left;
    font-size: 2em;
    position: absolute;
    top: 25%;
    left: 120px;
}

#nav-bar .compose {
    margin: 10px;
    border-radius: 8px;
    border: #848484 1px solid;
    background-color: #c4ece6;
    padding: 19px;
    color: #00a087;
    float: right;
}

#nav-bar .compose:hover {
    margin: 10px;
    border-radius: 8px;
    border: #848484 1px solid;
    background-color: white;
    padding: 19px;
    color: #00a087;
    float: right;
}