/**{ border: 1px solid red; }*/

/* main body rounded edges, boarder, and bg color*/
.new-tweet {
    border-radius: 8px;
    border: #848484 1px solid;
    background-color: #eeeeee;
    margin: 20px;
    margin-top: 40px;
    height: 195px;
}

/*solid line under compose tweet header*/
h2 {
    border-bottom: black solid 1px;
    padding-left: 10px;
    font-weight: bolder;
}

/*color and border for input field*/
input {
    background-color: #e8e7e7;
    border: #949494 solid 1px;
    float: left;
    margin: 10px;
}

/*sizing text area to full width*/
textarea {
    margin-left: 10px;
    margin-top: 0;
    padding: 5px;
    width: 371px;
    height: 70px;
}

/*Charater counter to bottom right*/
span.counter {
    float: right;
    font-style: italic;
    margin: 10px;
}

#error p {
    color: red;
    margin: 0;
    padding-left: 10px;
    padding-top: 13px;
    padding-bottom: 0;
}

#error {
    display: inline-block;
}


/*turns number red when negative number reached*/
.negative {
    color: red;
}